
/* Center container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

/* Card (Glass Purple Effect) */
.card {
  width: 450px;
  padding: 60px 40px;
  border-radius: 30px;

  backdrop-filter: blur(40px);

  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.15),
    rgba(128,0,128,0.25)
  );

  box-shadow: 0 0 60px rgba(128,0,128,0.4);
  border: 1px solid rgba(255,255,255,0.2);

  text-align: center;
}

/* Title (LOGIN) */
.card h2 {
  font-size: 28px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(255,255,255,0.3);
}

/* Labels */
.card label {
  display: block;
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 3px;
  color: rgba(255,255,255,0.85);
}

/* Inputs */
.card input {
  width: 100%;

  padding: 10px 16px; /* 🔥 قللنا الارتفاع */
  height: 38px;       /* 🔥 تحكم مباشر في الحجم */

  margin-bottom: 12px;

  border-radius: 12px; /* مستطيل ناعم */
  border: none;

  background: rgba(255,255,255,0.18);
  backdrop-filter: blur(8px);

  color: white;
  font-size: 13px;
  border: 1px solid rgba(255,255,255,0.2);
}


.card input:focus {
  outline: none;
  background: rgba(255,255,255,0.3);
}

/* Button */
.main-btn {
  width:50%;
  padding: 14px;

  border-radius: 30px;
  border: none;

  background: linear-gradient(
    to right,
    #4b006e,
    #430246
  );

  color: orange;
  font-weight: bold;
  font-size: 14px;

  margin-top: 20px;
  cursor: pointer;

  transition: 0.3s;
}

.main-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255,165,0,0.5);
}

/* Error Message */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* password container */
.password-box {
  position: relative;
  width: 100%;
}

/* نفس شكل input */
.password-box input {
  width: 100%;
  padding: 10px 40px 10px 16px; /* مساحة للعين */
  height: 38px;

  border-radius: 12px;
  border: none;

  background: rgba(255,255,255,0.18);
  backdrop-filter: blur(8px);

  color: white;
  font-size: 13px;
}

.hint {
  font-size: 12px;
  color: rgba(255,255,255,0.7);
  text-align: center;
  margin-bottom: 10px;
}

/* bar container */
.strength {
  width: 100%;
  height: 5px;
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
  margin-top: 8px;
}
.login-link {
  margin-top: 15px;
  font-size: 13px;
  color: rgba(255,255,255,0.8);
}

.login-link a {
  color: orange;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* bar */
#strength-bar {
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: 0.3s;
}

/* text */
#strength-text {
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

/* login link */
.login-link {
  margin-top: 15px;
  font-size: 13px;
}

.login-link a {
  color: orange;
  font-weight: bold;
  text-decoration: none;
}